<div class="navbar-expand container-fluid p-0">
	<footer class="navbar">
        <ul class="navbar list-unstyled m-0">
            <li class="nav-item pr-3"> &#169; iPhoneify</li>
            <li class="nav-item"><a class="nav-link text-light" href="/about">ABOUT</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="/contact">CONTACT</a></li>
        </ul>

        <ul class="navbar list-unstyled m-0">
            <li class="pr-3"><a target="_blank" href="https://www.google.com"><img alt="google link" src="/fontawesome/google.svg" width="22"></a></li>
            <li class="pr-3"><a target="_blank" href="https://www.facebook.com"><img alt="facebook link" src="/fontawesome/facebook.svg" width="25"></a></li>
        </ul>
    </footer>
    </div>
</body>
</html>