<%- include('./partials/header.ejs') %>


    <div class="container main-container main-area row text-lg-left text-md-center text-sm-center m-auto p-3 mt-lg-5">
		<div class="col-lg-12 m-auto">
			<h3><%= error.status %> Error</h3>
                <p><%= error.message %></p>
		</div>
    </div>

<%- include('./partials/footer.ejs') %>