nav {
    overflow: hidden;
    padding-left: 20px;
    color: white;
    width: 100%;
}

nav h2{
    text-align: right; 
    padding-right: 30px;
}

nav a{
    float: left;
    display: block;
    padding-right: 16px;
    padding-bottom: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.custom-nav{
    background-color: #75baf0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#tradeButton-nav{
    background-color: #116399;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    width:130px
}
#tradeButton-nav:hover{
    color: black;
    background-color: white;
    border-color: black;
}